<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Left Temperature -->
	<bean id="leftTemp" class="com.bmp.xanga.views.ArcTemperature">
		<constructor-arg><!-- numero de arcos -->
			<value>15</value>
		</constructor-arg>
		<constructor-arg>
			<util:constant static-field="com.bmp.xanga.arc.AbstractArc.GREEN1" />
		</constructor-arg>
		<constructor-arg>
			<util:constant static-field="com.bmp.xanga.arc.AbstractArc.GREEN2" />
		</constructor-arg>
		<constructor-arg><!-- tamanho -->
			<value>250</value>
		</constructor-arg>
	</bean>
	<bean id="leftTemperatureController" class="com.bmp.xanga.controllers.TemperatureController">
		<property name="tempUI" ref="leftTemp"/>
	</bean>
	
	<!-- Right Temperature -->
	<bean id="rightTemp" class="com.bmp.xanga.views.ArcTemperature">
		<constructor-arg><!-- numero de arcos -->
			<value>15</value>
		</constructor-arg>
		<constructor-arg>
			<util:constant static-field="com.bmp.xanga.arc.AbstractArc.BLUE1" />
		</constructor-arg>
		<constructor-arg>
			<util:constant static-field="com.bmp.xanga.arc.AbstractArc.BLUE2" />
		</constructor-arg>
		<constructor-arg><!-- tamanho -->
			<value>250</value>
		</constructor-arg>
	</bean>
	<bean id="rightTemperatureController" class="com.bmp.xanga.controllers.TemperatureController">
		<property name="tempUI" ref="rightTemp"/>
	</bean>
	
</beans>