<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.bmp.xanga" />

    <bean id="messageSource"
            class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:messages</value>
            </list>
        </property>
    </bean>
    
    <!-- pass the temperature from the service to the dispatcher -->
    <bean id="tempService" class="com.bmp.xanga.temperature.service.TemperatureService"/>
	<bean id="tempDispatcher" class="com.bmp.xanga.temperature.service.TemperatureDispatcher" />
	<bean id="addObserver" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    	<property name="targetObject" ref="tempService" />
    	<property name="targetMethod" value="addObserver"/>
    	<property name="arguments">
       		<list>
          		<ref bean="tempDispatcher" />
       		</list>
    	</property>
	</bean>
	
	<!-- pass the temperature from the dispatcher to the various temp models -->
	<bean id="tempOneModel" class="com.bmp.xanga.temperature.service.TemperatureModel" />
	<bean id="tempTwoModel" class="com.bmp.xanga.temperature.service.TemperatureModel" />
	<bean id="addTempOneObs" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    	<property name="targetObject" ref="tempDispatcher" />
    	<property name="targetMethod" value="addTempOneObs"/>
    	<property name="arguments">
       		<list>
          		<ref bean="tempOneModel" />
       		</list>
    	</property>
	</bean>
	<bean id="addTempTwoObs" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    	<property name="targetObject" ref="tempDispatcher" />
    	<property name="targetMethod" value="addTempTwoObs"/>
    	<property name="arguments">
       		<list>
          		<ref bean="tempTwoModel" />
       		</list>
    	</property>
	</bean>
	
</beans>
